/*Properties of block "our services"*/

.our_serv {
    margin-top: 50px;
}

.our_serv_head {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_serv_content {
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.our_serv_content_block {
    padding: 30px;
    width: 20%;
    text-align: center;
}