/*Common props for object types*/
body {
    margin: 0px;
}

a {
    text-decoration: none;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

input {
    border-width: 0px;
}

footer {
    width: 66%;
    margin-left: 17%;
    margin-top: 30px;
    margin-bottom: 70px;
}

/*Properties of header block*/
.menu_item_login {
    border-radius: 5px;
    font-family: Arial;
    background-color:rgba(70,70,70,0.2);
}

.header {
    height: 56.5vw;
    display: flex;
    background-size: 100%;
    background-image: url(images/hdr_bg.png);
}

.header_menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.header_content {
    height: 100%;
    display: flex;
    align-items: center;
}

.header_text {
    width: 50%;
}

.header_image {
    max-width: none;
    filter:drop-shadow(0px 7px 5px rgba(63,63,63,0.9));
}

.header_image_earphones {
    margin-left: auto;
}

.header_buttons {
    margin-top: 50px;
    display: flex;
}

.header_button {
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.header_button_gplay {
    margin-right: 30px;
    background-color: white; 
}

.header_button_lmore {
    background-color:rgba(70,70,70,0.2);
}

.header_left_space {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_center {
    width: 70%;
}

.header_right_space {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Properties of block "our services"*/
.our_serv {
    margin-top: 50px;
}

.our_serv_head {
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_serv_content {
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.our_serv_content_block {
    padding: 30px;
    width: 20%;
    text-align: center;
}

/*Properties of block "custom features"*/
.custom {
    height: 48vw;
    display: flex;
    background-size: 100%;
    background-image: url(images/ftr_bg.png);
}

.custom_photo {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.custom_content {
    padding-top: 8vw;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.custom_content_header {
    margin-bottom: 50px;
}

.custom_content_row {
    display: flex;
    align-items: center;
}

.custom_text {
    padding-left: 20px;
}

.custom_button {
    width: 100px;
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-radius: 30px;
}

/*Properties of block "other services"*/
.other_serv_content {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.other_serv_block {
    width: 20%;
    margin-right: 30px;
}

/*Properties of block "what customer say"*/
.comment {
    height: 47vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100%;
    background-image: url(images/cst_bg.png);
}

.comment_content {
    width: 60%;
    height: 27vw;
    text-align: center;
    background-size: 100%;
    background-image: url(images/cst_comment.png); 
    background-repeat: no-repeat;
}

.comment_text {
    padding-top: 15%;
    padding-left: 20%;
    padding-right: 20%;
}

.comment_buttons {
    display: flex;
    justify-content: center;
}

.comment_button {
    margin: 20px;
    display: flex;
}

/*Properties of block "subscribe now"*/
.subscribe {
    margin-top: 50px;
    margin-bottom: 50px;
}

.subscribe_blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe_block {
    margin-bottom: 30px;
    height: 60px;
    width: 300px;
    border-color: #f6f8f8;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #f6f8f8 0em 0.5em 0.3em;
}

/*Properties of block with links*/
.links {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 17%;
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.links_column {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*Styles, that might be reused*/
.logo {
    height: 40px;
    margin-top: 5px;
    margin-right: auto;
}

.img {
    width: 45px;
    max-height: 45px;
    margin-right: 15px;
    padding-bottom: auto;
    object-fit: contain;
}

.dot {
    width: 20px;
    height: 20px;
}

.dividor {
    padding-left: 15%;
    width: 70%;
}

.text_margin_top {
    margin-top: 10px;
}

.text_margin_bottom {
    margin-bottom: 10px;
}

.text_margin_left {
    margin-left: 10px;
}

.text_margin_right {
    margin-right: 10px;
}

.text_white {
    color: white;
}

.text_gray {   
    color: rgb(119, 119, 119);
}

.text_black {
    color: black;
}

.bg_mild_blue {
    background-color: #f5fafa;
}

.bg_blue {
    background-color: deepskyblue;
}

.menu_item {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px;
    align-self:center;
    font-family: Arial;
}